{
  "AzKubernetesRuntimeBgpPeer+[NoContext]+Creates, Gets and Deletes a bgp peer+$PUT+https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/bgpPeers/test1?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/bgpPeers/test1?api-version=2024-05-01-preview",
      "Content": "{\n  \"properties\": {\n    \"myAsn\": 10000,\n    \"peerAsn\": 20000,\n    \"peerAddress\": \"192.168.50.1\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"00001d14-0000-3400-0000-66c421450000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "c044d669-3fc9-4900-bfdc-96fb5481e3ca" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/bgpPeers/test1\",\"name\":\"test1\",\"type\":\"microsoft.kubernetesruntime/bgppeers\",\"systemData\":{\"createdBy\":\"xinyichen@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-08-20T04:53:14.1086408Z\",\"lastModifiedBy\":\"xinyichen@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-08-20T04:53:14.1086408Z\"},\"properties\":{\"myAsn\":10000,\"peerAsn\":20000,\"peerAddress\":\"192.168.50.1\",\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "AzKubernetesRuntimeBgpPeer+[NoContext]+Creates, Gets and Deletes a bgp peer+$GET+https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/bgpPeers/test1?api-version=2024-05-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/bgpPeers/test1?api-version=2024-05-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "13" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"00001d14-0000-3400-0000-66c421450000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroup[...]
