{
  "AzKubernetesRuntimeLoadBalancer+[NoContext]+Creates, Gets and Deletes a load balancer+$PUT+https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/loadBalancers/test1?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/loadBalancers/test1?api-version=2024-05-01-preview",
      "Content": "{\n  \"properties\": {\n    \"addresses\": [ \"192.168.50.1/32\" ],\n    \"advertiseMode\": \"ARP\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0b00753d-0000-3400-0000-66c421d00000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "acab9b37-c497-4ed5-ad89-cc71cb354fe9" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/loadBalancers/test1\",\"name\":\"test1\",\"type\":\"microsoft.kubernetesruntime/loadbalancers\",\"systemData\":{\"createdBy\":\"xinyichen@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-08-20T04:55:37.1245703Z\",\"lastModifiedBy\":\"xinyichen@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-08-20T04:55:37.1245703Z\"},\"properties\":{\"addresses\":[\"192.168.50.1/32\"],\"serviceSelector\":null,\"advertiseMode\":\"ARP\",\"bgpPeers\":null,\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "AzKubernetesRuntimeLoadBalancer+[NoContext]+Creates, Gets and Deletes a load balancer+$GET+https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/loadBalancers/test1?api-version=2024-05-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroups/k8sruntime-pwsh-test-rg-76awv3/providers/Microsoft.Kubernetes/connectedClusters/76awv3-arc/providers/Microsoft.KubernetesRuntime/loadBalancers/test1?api-version=2024-05-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "23" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0b00753d-0000-3400-0000-66c421d00000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b9e38f20-7c9c-4497-a25d-1a0c5eef2108/resourceGroup[...]
